/*  your css code here. If applicable */
h1{
	color: #2a7ae2
}
/*  your css code here. If applicable */
h2{
	color: #f44336
}
/*  your css code here. If applicable */
h3{
	color: #4caf50
}
/*  your css code here. If applicable */
h4{
	color: #ff9800
}
/*  your css code here. If applicable */
h5{
	color: #607d8b
}
/*  your css code here. If applicable */
h6{
	color:  #ffeb3b
}
/*  your css code here. If applicable */

